@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

/* スマホ対応（ベース） */

html {
    overflow-y: scroll;
}

body {
    font-family: "メイリオ", "Hiragino Kaku Gothic Pro", sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin: 0px 10px 0px 10px;
}

* {
    margin: 0;
    padding: 0;
}

#wrapper {
    overflow: hidden;
}


/* ヘッダー */

header {
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

header h1 {
    /* font-family: 'Sriracha', cursive; */
    vertical-align: middle;
    font-size: 3vw;
}

header h1 a {
    text-decoration: none;
    color: #000000;
}

header h1 a:visited {
    color: #000000;
}

header p {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    vertical-align: middle;
    font-size: 11px;
    color: #5C5C5C;
}


/* ナビゲーション */

.menu {
    width: 100%;
    list-style: none;
    font-size: 0;
    white-space: nowrap;
}

.menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: -webkit-linear-gradient(to bottom, #000000, #a3a0a0);
    background: linear-gradient(to top, #000000, #a3a0a0);
}

.menu li {
    -webkit-box-flex: 10px auto;
    -ms-flex: 10px auto;
    flex: 10px auto;
    width: 151px;
    line-height: 28px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    border-right: solid 1px #cac7c7;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
}


/* トップ画像 */

.back_img {
    text-align: center;
    width: 100%;
    height: 150px;
    background-image: url(../img/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px 0px 15px 0px;
}

.wrap {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.h1_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: solid 1px #b4b0b0;
    box-shadow: 1px 1px #e6e1e1;
    border-radius: 5px;
}

.h1_head h1 {
    text-align: left;
    font-size: 6vw;
    font-weight: bold;
}

.h1_head p {
    display: table-cell;
    text-align: left;
    font-size: 4vw;
}


/* 記事部分 */

article {
    height: 100%;
    margin: 15px 0px 15px 0px;
    border: solid 1px #b4b0b0;
    box-shadow: 1px 1px #e6e1e1;
    border-radius: 5px;
    background: -webkit-linear-gradient(to top, #ffffff, #e2dfdf);
    background: linear-gradient(to bottom, #ffffff, #e2dfdf);
}

article h2 {
    font-size: 5vw;
}

article figcaption {
    text-align: center;
    color: #5C5C5C;
}

article figure {
    text-align: center;
}


/* フッター */

footer {
    position: relative;
    right: 0px;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    border-top: solid 1px #b8b4b4;
    border-top-style: ridge;
}

footer p {
    position: absolute;
    right: 0;
    bottom: 3px;
    color: #5C5C5C;
    font-size: 10px;
}


/* タブレット対応 */

@media only screen and (min-width: 600px) and (max-width:899px) {
    .menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
    }
    .h1_head p {
        width: 320px;
        padding-right: 30px;
        text-align: left;
    }
    .back_img {
        width: 100%;
        height: 150px;
    }
    .right_img {
        float: right;
        padding-left: 10px;
    }
    .left_img {
        float: left;
        padding-right: 10px;
    }
    article {
        height: 220px;
        margin-top: 10px;
        padding: 10px;
    }
    article h2 {
        padding: 0px;
        padding-left: 10px;
    }
    article p {
        padding: 0px;
    }
    footer p {
        font-size: 10px;
    }
}


/* ====== PC用の設定 ====== */

@media only screen and (min-width:900px) {
    body {
        margin-left: auto;
        margin-right: auto;
        width: 760px;
    }
    #wrapper {
        overflow: none;
    }
    /* ヘッダー */
    header {
        position: relative;
        width: 100%;
        height: 50px;
        margin-right: auto;
        margin-left: auto;
    }
    header h1 {
        /* font-family: 'Sriracha', cursive; */
        position: absolute;
        left: 0;
        top: 0px
    }
    header h1 a {
        text-decoration: none;
        color: #000000;
    }
    header h1 a:visited {
        color: #000000;
    }
    header p {
        text-align: right;
        font-size: 13px;
        color: #5C5C5C;
    }
    /* ナビゲーション */
    .menu {
        width: 100%;
        bottom: 0px;
        list-style: none;
        font-size: 0;
        white-space: nowrap;
    }
    .menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 5px;
        background: -webkit-linear-gradient(to bottom, #000000, #a3a0a0);
        background: linear-gradient(to top, #000000, #a3a0a0);
    }
    .menu li {
        -webkit-box-flex: 10px auto;
        -ms-flex: 10px auto;
        flex: 10px auto;
        width: 115px;
        line-height: 28px;
        display: inline-block;
        text-align: center;
        font-size: 12px;
        border-right: solid 1px #cac7c7;
    }
    .menu a {
        color: #ffffff;
        text-decoration: none;
    }
    /* トップ画像 */
    .back_img {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 15px;
        height: 230px;
        background-image: url(../img/sky.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .wrap {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .h1_head {
        display: table;
        width: 100%;
        height: 60px;
        min-height: 0%;
        margin-bottom: 20px;
        border: solid 1px #b4b0b0;
        box-shadow: 1px 1px #e6e1e1;
        border-radius: 5px;
    }
    .h1_head h1 {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        font-size: 20px;
        font-weight: normal;
        padding-left: 20px;
    }
    .h1_head p {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 13px;
    }
    /* コンテナ-左*/
    .container_left {
        float: left;
        margin-right: auto;
        margin-left: auto;
    }
    /* コンテナ-記事-左 */
    .container_left_1 {
        float: left;
        width: 245px;
        margin-right: 12px;
    }
    /* コンテナ-記事-中央 */
    .container_left_2 {
        float: right;
        width: 245px;
    }
    /* コンテナ-右 */
    .container_right {
        float: right;
        width: 245px;
    }
    /* 記事部分 */
    article {
        border: solid 1px #b4b0b0;
        box-shadow: 1px 1px #e6e1e1;
        border-radius: 5px;
        background: -webkit-linear-gradient(to top, #ffffff, #e2dfdf);
        background: linear-gradient(to bottom, #ffffff, #e2dfdf);
        height: 500px;
    }
    article h2 {
        font-size: 18px;
        font-weight: normal;
        height: 40px;
        padding: 10px 15px 17px;
    }
    article p {
        font-size: 13px;
        padding: 13px 12px 12px;
    }
    article figcaption {
        font-size: 13px;
        text-align: center;
        color: #5C5C5C;
    }
    article figure {
        text-align: center;
    }
    /* フッター */
    footer {
        position: relative;
        right: 0px;
        bottom: -20px;
        width: 100%;
        height: 30px;
        clear: both;
        margin-right: auto;
        margin-left: auto;
        border-top: solid 1px #b8b4b4;
        border-top-style: ridge;
    }
    footer p {
        position: absolute;
        right: 0;
        bottom: 5px;
        color: #5C5C5C;
        font-size: 10px;
    }
}